<!doctype html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">

    <title><%= current_page.data.title && "#{current_page.data.title} – " %>GOV.UK Product Pages</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--[if gt IE 8]><!--><%= stylesheet_link_tag :screen, media: 'screen' %><!--<![endif]-->
    <!--[if lte IE 8]><%= stylesheet_link_tag 'screen-old-ie', media: 'screen' %><![endif]-->
    <%= stylesheet_link_tag :print, media: 'print' %>

    <!--[if IE 8]><%= stylesheet_link_tag "fonts-ie8", media: :all %><![endif]-->
    <!--[if gte IE 9]><!--><%= stylesheet_link_tag :fonts, media: :all %><!--<![endif]-->

    <%= javascript_include_tag :application %>
    <% if config.analytics.present? %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', <%= config.analytics %>, 'auto');
      ga('set', 'anonymizeIp', true);
      ga('set', 'displayFeaturesTask', null);
      ga('set', 'transport', 'beacon');

      ga('send', 'pageview');
    </script>
    <% end %>
  </head>

  <body>
    <a href="#main" class="skip-link">Skip to main content</a>

    <header class="header<% if current_page.url == '/' %> header--without-border<% end %>">
      <div class="header__container">
        <div class="header__brand">
          <a href="/" data-click-events data-click-category="Header" data-click-action="Logo link clicked">
            <span class="govuk-logo">
              <img class="govuk-logo__printable-crown" src="/images/gov.uk_logotype_crown_invert_trans.png" height="32" width="36">
              GOV.UK
            </span>
            <span class="header__title">
              Product Pages
              <span class="phase-banner">Beta</span>
            </span>
          </a>
        </div>

        <div data-module="navigation">
          <button type="button" class="header__navigation-toggle js-nav-toggle" aria-controls="navigation" aria-label="Show or hide top level navigation">Menu</button>

          <nav id="navigation" class="header__navigation js-nav" aria-label="Top Level Navigation" aria-hidden="true" data-click-events data-click-category="Header" data-click-action="Navigation link clicked">
            <ul>
              <%
                {
                  'About' => '/',
                  'Supplementary Pages' => '/supplementary.html',
                  'Support' => '/support.html'
                }.each do |title, url|
              %>
                <li<% if url == current_page.url %> class="active"<% end %>>
                  <a href="<%= url == current_page.url ? "#main" : url %>">
                    <%= title %>
                  </a>
                </li>
              <% end %>
            </ul>
          </nav>
        </div>
      </div>
    </header>

    <main role="main" id="main">
      <%= yield %>
    </main>

    <footer class="group js-footer" id="footer" role="contentinfo">
      <div class="footer-wrapper">

        <div class="footer-meta">
          <div class="footer-meta-inner">

            <div class="open-government-licence">
              <p class="logo"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a></p>
                <p>All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>
            </div>
          </div>

          <div class="copyright">
            <a href="http://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/"><%= content_for?(:crown_copyright_message) ? yield(:crown_copyright_message) : "© Crown copyright" %></a>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
